#container {
    margin-left: 25px;
    display: grid;
    grid-template-areas:
    "title cartForm" 
    "products cartForm"
    ;
}
.products {
    grid-area: products;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 100px;
}

.cart, .checkout-form {
    margin-right: 25px;
    margin-left: 50px;
}

.checkout-form {
    margin-top: 50px;
}

button {
    margin-bottom: 10px;
}

.product-display {
    margin-bottom: 25px;
}

h1 {
    grid-area: title;
}

input {
    margin-bottom: 10px;
}

#cart-form-container {
    grid-area: cartForm;
}